{% extends 'base.html.twig' %}
{% import 'partials/paginator.html.twig' as paginator %}

{% block body %}
    <div class="col-md-8">
        {# Page Header #}
        <div class="page-header">
            <h1>Blog</h1>
            <p class="lead">Welcome on my blog</p>
        </div>
        {# Post #}
        {% for post in posts %}
            {# @var post \App\Entity\Post #}
            <article>
                <h2><a href="{{ path('post_show', {slug: post.slug}) }}">{{ post.title }}</a></h2>
                <p><small>
                        Category : <a href="#">{{ post.category.name }}</a>,
                        by <a href="#">{{ post.author.username }}</a> on <em>{{ post.createdAt.format('F dS Y')}}</em>
                    </small></p>
                <p class="text-justify">{{ post.content|truncate(300) }}</p>
                <p class="text-right">
                    <a href="{{ path('post_show', {slug: post.slug}) }}" class="btn btn-primary">Read more...</a>
                </p>
            </article>
            <hr>
        {% endfor %}
        {# Pagination #}
        <div class="text-center">
            {{ paginator.paginate(posts) }}
        </div>
    </div>
    {# Categories Sidebar #}
    {#{% include 'partials/sidebar.html.twig' %}#}
{% endblock %}
