{% extends 'base.html.twig' %}
{# @var post \App\Entity\Post #}

{% block title %} {{ post.title }} | {{ parent() }} {% endblock %}

{% block body %}
    <div class="col-md-8">
        {# Page Header #}
        <div class="page-header">
            <h1>{{ post.title}}</h1>
            <p><small>
                    Category : <a href="#">{{ post.category.name }}</a>,
                    by <a href="#">{{ post.author.username }}</a> on <em>{{ post.createdAt.format('F jS Y') }}</em>
                </small></p>
        </div>
        {# Post Content #}
        <article>
            {{ post.content }}
        </article>
        <hr>
    </div>
    {# Sidebar #}
    <div class="col-md-4 sidebar">
        {{ render(controller('App\\Controller\\SidebarController::categories')) }}
        {{ render(controller('App\\Controller\\SidebarController::latestPosts')) }}
    </div>
{% endblock %}
