{% extends 'base.html.twig' %}
{# @var post \App\Entity\Post #}

{% block title %} {{ post.title }} | {{ parent() }} {% endblock %}

{% block body %}
    <div class="col-md-8">
        {# Page Header #}
        <div class="page-header">
            <h1>{{ post.title}}</h1>
            <p><small>
                    Category : <a href="{{ path('category_posts', {slug: post.category.slug}) }}">{{ post.category.name }}</a>,
                    by <a href="{{ path('author_posts', {username: post.author.username}) }}">{{ post.author.username }}</a>
                    on <em>{{ post.createdAt.format('F jS Y') }}</em>
                </small></p>
        </div>
        {# Post Content #}
        <article>
            {{ post.content }}
        </article>
        <hr>
        {# Comment Form #}
        <h4>Add new Comment:</h4>
        {{ form_start(form, { 'action': path('post_comment_store', {'slug': post.slug}) }) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
        <hr>
        {# Comments #}
        <section class="post-comments">
            <h4>{{ 'Comment'|transchoice(post.comments.count()) }}</h4>
            {% for comment in post.comments %}
                <div class="row">
                    <div class="col-md-2">
                        <img src="{{ comment.gravatar }}" width="100%">
                    </div>
                    <div class="col-md-10">
                        <p><strong>@{{ comment.username }}</strong> {{ comment.createdAt.format('F jS Y') }}</p>
                        <p>{{ comment.content }}</p>
                    </div>
                </div>
                <br>
            {% endfor %}
        </section>
    </div>
    {# Sidebar #}
    <div class="col-md-4 sidebar">
        {{ render(controller('App\\Controller\\SidebarController::categories')) }}
        {{ render(controller('App\\Controller\\SidebarController::latestPosts')) }}
    </div>
{% endblock %}
